<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsTest</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWHjfjxDM1dn-Hcz2sjr8g24M_plSBrG0&libraries=places"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webpack-bundle' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
